@import '../../general.module.scss';

.MovieBackgroundImage {
    width: 100%;
    height: 350px;
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.7;
        z-index: 22;
    }
}

.MovieDetails {
    box-sizing: border-box;
    height: 375px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -145px;
    position: relative;
    z-index: 23;
    & .left {
        width: 250px;
        float: left;
        height: 100%;
        & img {
            width: 250px;
            height: 375px;
            border-radius: 20px;
        }
    }
    & .right {
        width: calc(100% - 340px);
        float: right;
        height: 150px;
        position: absolute;
        bottom: 50px;
        right: 30px;
        & h1 {
            font-size: 30px;
            color: #FF8949;
        }
        & .description {
            font-size: 20px;
            margin-bottom: 15px;
        }
        & .genres {
            display: flex;
            height: 20px;
            width: 100%;
            & .genre {
                box-sizing: content-box;
                width: auto;
                margin-right: 15px;
                display: flex;
                justify-content: left;
                align-items: center;
                & svg {
                    margin-right: 7px;
                }
            }
        }
    }
    
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}