@font-face {
    font-family: 'FiraGO-Medium';
    src: url(./assets/fonts/FiraGO-Medium.ttf);
}

@font-face {
    font-family: 'FiraGO-Regular';
    src: url(./assets/fonts/FiraGO-Regular.ttf);
}

@font-face {
    font-family: 'FiraGO-SemiBold';
    src: url(./assets/fonts/FiraGO-SemiBold.ttf);
}
